<!DOCTYPE html>
<html>
    <head>
        <title>Route: /</title>
    </head>
    <body>
        <h1>Home Page</h1>
        <p>
            Here is some sample text that you should read. If you do not, however, 
            there is no forseeable consequence. In fact, this text is rather useless 
            and is just being just as some placeholder text. I could have copied the 
            "Lorem Ipsum" text but this is far more fun.
        </p>
        <a href="{{ url_for('more') }}">See more...</a>
    </body>
</html>